In [1]:
import pandas as pd

In [46]:
#import the raw data from a local directory
raw_data = pd.read_csv('downloads/automotive_insurance_data.csv', header=0)

In [47]:
raw_data.shape

(105555, 1)

In [4]:
#create list of columns for recreating dataframe
#initial dataframe import was only one column, seperated by semi-colons
columns_list = list(raw_data.columns)[0].split(';')

In [5]:
len(columns_list)

30

In [6]:
print(columns_list)

['ID', 'Date_start_contract', 'Date_last_renewal', 'Date_next_renewal', 'Date_birth', 'Date_driving_licence', 'Distribution_channel', 'Seniority', 'Policies_in_force', 'Max_policies', 'Max_products', 'Lapse', 'Date_lapse', 'Payment', 'Premium', 'Cost_claims_year', 'N_claims_year', 'N_claims_history', 'R_Claims_history', 'Type_risk', 'Area', 'Second_driver', 'Year_matriculation', 'Power', 'Cylinder_capacity', 'Value_vehicle', 'N_doors', 'Type_fuel', 'Length', 'Weight']

In [7]:
first_row = list(raw_data.iloc[0])[0].split(';')
print(first_row)

['1', '05/11/2015', '05/11/2015', '05/11/2016', '15/04/1956', '20/03/1976', '0', '4', '1', '2', '1', '0', '', '0', '222.52', '0', '0', '0', '0', '1', '0', '0', '2004', '80', '599', '7068', '0', 'P', 'NA', '190']

In [8]:
#create new dataframe with correct columns
new_data = pd.DataFrame(columns = columns_list)
new_data

Empty DataFrame
Columns: [ID, Date_start_contract, Date_last_renewal, Date_next_renewal, Date_birth, Date_driving_licence, Distribution_channel, Seniority, Policies_in_force, Max_policies, Max_products, Lapse, Date_lapse, Payment, Premium, Cost_claims_year, N_claims_year, N_claims_history, R_Claims_history, Type_risk, Area, Second_driver, Year_matriculation, Power, Cylinder_capacity, Value_vehicle, N_doors, Type_fuel, Length, Weight]
Index: []

[0 rows x 30 columns]

In [9]:
#create a while loop to reinsert data by columns in the new dataframe and export to csv for future use
a = 0
while a < raw_data.shape[0]:
    current_val = list(raw_data.iloc[a])[0].split(';')
    new_data.loc[a] = current_val
    a += 1

In [51]:
new_data.to_csv('exports/updated_automotive_data.csv', index=False)

In [52]:
#reimport the new csv file
data_import = pd.read_csv('exports/updated_automotive_data.csv')
data_import.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105555 entries, 0 to 105554
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    105555 non-null  int64
 1   Date_start_contract   105555 non-null  object
 2   Date_last_renewal     105555 non-null  object
 3   Date_next_renewal     105555 non-null  object
 4   Date_birth            105555 non-null  object
 5   Date_driving_licence  105555 non-null  object
 6   Distribution_channel  105555 non-null  object
 7   Seniority             105555 non-null  int64
 8   Policies_in_force     105555 non-null  int64
 9   Max_policies          105555 non-null  int64
 10  Max_products          105555 non-null  int64
 11  Lapse                 105555 non-null  int64
 12  Date_lapse            35147 non-null   object
 13  Payment               105555 non-null  int64
 14  Premium               105555 non-null  float64
 15  Cost_claims_year      105555 non-null  float64
 16  N_claims_year         105555 non-null  int64
 17  N_claims_history      105555 non-null  int64
 18  R_Claims_history      105555 non-null  float64
 19  Type_risk             105555 non-null  int64
 20  Area                  105555 non-null  int64
 21  Second_driver         105555 non-null  int64
 22  Year_matriculation    105555 non-null  int64
 23  Power                 105555 non-null  int64
 24  Cylinder_capacity     105555 non-null  int64
 25  Value_vehicle         105555 non-null  float64
 26  N_doors               105555 non-null  int64
 27  Type_fuel             103791 non-null  object
 28  Length                95226 non-null   float64
 29  Weight                105555 non-null  int64
dtypes: float64(5), int64(17), object(8)
memory usage: 24.2+ MB

/var/folders/k7/_jdxw9bx3_7cybsnkxz0pr200000gn/T/ipykernel_44923/259744221.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data_import = pd.read_csv('exports/updated_automotive_data.csv')

In [13]:
#create a list of columns that need to be updated to datetime
date_cols_index = [1,2,3,4,5,12]
date_cols = []
for i in date_cols_index:
    date_cols.append(columns_list[i])
print(date_cols)

['Date_start_contract', 'Date_last_renewal', 'Date_next_renewal', 'Date_birth', 'Date_driving_licence', 'Date_lapse']

In [17]:
#update each column in dataframe to correct format for datetime
for col in date_cols:
    test_date = pd.to_datetime(data_import[col], format = '%d/%m/%Y').dt.strftime('%m/%d/%Y')
    data_import[col] = test_date

In [20]:
#create dictionary to set the datatypes for those columns to datetime
date_dict = {}
for col in date_cols:
    date_dict[col] = 'datetime64[ns]'
date_dict

{'Date_start_contract': 'datetime64[ns]',
 'Date_last_renewal': 'datetime64[ns]',
 'Date_next_renewal': 'datetime64[ns]',
 'Date_birth': 'datetime64[ns]',
 'Date_driving_licence': 'datetime64[ns]',
 'Date_lapse': 'datetime64[ns]'}

In [21]:
#udpate columns datatypes
data_import = data_import.astype(date_dict)
data_import.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105555 entries, 0 to 105554
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    105555 non-null  int64
 1   Date_start_contract   105555 non-null  datetime64[ns]
 2   Date_last_renewal     105555 non-null  datetime64[ns]
 3   Date_next_renewal     105555 non-null  datetime64[ns]
 4   Date_birth            105555 non-null  datetime64[ns]
 5   Date_driving_licence  105555 non-null  datetime64[ns]
 6   Distribution_channel  105555 non-null  object
 7   Seniority             105555 non-null  int64
 8   Policies_in_force     105555 non-null  int64
 9   Max_policies          105555 non-null  int64
 10  Max_products          105555 non-null  int64
 11  Lapse                 105555 non-null  int64
 12  Date_lapse            35147 non-null   datetime64[ns]
 13  Payment               105555 non-null  int64
 14  Premium               105555 non-null  float64
 15  Cost_claims_year      105555 non-null  float64
 16  N_claims_year         105555 non-null  int64
 17  N_claims_history      105555 non-null  int64
 18  R_Claims_history      105555 non-null  float64
 19  Type_risk             105555 non-null  int64
 20  Area                  105555 non-null  int64
 21  Second_driver         105555 non-null  int64
 22  Year_matriculation    105555 non-null  int64
 23  Power                 105555 non-null  int64
 24  Cylinder_capacity     105555 non-null  int64
 25  Value_vehicle         105555 non-null  float64
 26  N_doors               105555 non-null  int64
 27  Type_fuel             103791 non-null  object
 28  Length                95226 non-null   float64
 29  Weight                105555 non-null  int64
dtypes: datetime64[ns](6), float64(5), int64(17), object(2)
memory usage: 24.2+ MB

In [26]:
#do the same thing for category columns
category_cols_i = [6,13,19,20,21,27]
category_cols = []
for i in category_cols_i:
    category_cols.append(columns_list[i])
category_cols

['Distribution_channel',
 'Payment',
 'Type_risk',
 'Area',
 'Second_driver',
 'Type_fuel']

In [27]:
cat_dict = {}
for col in category_cols:
    cat_dict[col] = 'category'
cat_dict

{'Distribution_channel': 'category',
 'Payment': 'category',
 'Type_risk': 'category',
 'Area': 'category',
 'Second_driver': 'category',
 'Type_fuel': 'category'}

In [29]:
data_import = data_import.astype(cat_dict)
data_import.describe()

,ID,Date_start_contract,Date_last_renewal,Date_next_renewal,Date_birth,Date_driving_licence,Seniority,Policies_in_force,Max_policies,Max_products,...,N_claims_year,N_claims_history,R_Claims_history,Year_matriculation,Power,Cylinder_capacity,Value_vehicle,N_doors,Length,Weight
count,105555.000000,105555,105555,105555,105555,105555,105555.000000,105555.000000,105555.000000,105555.000000,...,105555.000000,105555.000000,105555.000000,105555.000000,105555.000000,105555.000000,105555.000000,105555.000000,95226.000000,105555.000000
mean,26271.286789,2014-06-26 07:45:33.176069376,2017-06-19 06:14:04.109705728,2018-06-19 08:20:49.077732096,1970-02-20 12:34:16.558192415,1992-09-12 15:59:51.814693632,6.696604,1.455649,1.837232,1.065842,...,0.394695,2.751760,0.425194,2004.728038,92.682611,1617.759367,18413.657243,4.067898,4.252007,1191.262422
min,1.000000,1980-10-25 00:00:00,2015-11-02 00:00:00,2016-11-02 00:00:00,1918-04-05 00:00:00,1942-10-01 00:00:00,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,1950.000000,0.000000,49.000000,270.460000,0.000000,1.978000,43.000000
25%,12925.000000,2013-04-19 00:00:00,2016-09-05 00:00:00,2017-09-05 00:00:00,1960-11-10 00:00:00,1983-04-13 00:00:00,3.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,2001.000000,75.000000,1390.000000,13127.210000,3.000000,3.999000,1043.000000
50%,26082.000000,2015-09-20 00:00:00,2017-07-06 00:00:00,2018-07-06 00:00:00,1970-08-11 00:00:00,1993-07-16 00:00:00,4.000000,1.000000,2.000000,1.000000,...,0.000000,1.000000,0.080000,2005.000000,90.000000,1598.000000,17608.770000,5.000000,4.230000,1205.000000
75%,39754.000000,2017-03-01 00:00:00,2018-04-06 00:00:00,2019-04-06 00:00:00,1980-03-03 00:00:00,2003-01-24 00:00:00,9.000000,2.000000,2.000000,1.000000,...,0.000000,4.000000,0.590000,2008.000000,110.000000,1910.000000,22595.000000,5.000000,4.443000,1388.000000
max,53502.000000,2018-11-30 00:00:00,2018-11-30 00:00:00,2019-11-30 00:00:00,2000-10-11 00:00:00,2018-11-26 00:00:00,40.000000,17.000000,17.000000,4.000000,...,25.000000,52.000000,26.070000,2018.000000,580.000000,7480.000000,220675.800000,6.000000,8.218000,7300.000000
std,15388.309324,NaN,NaN,NaN,NaN,NaN,6.263911,0.928427,1.155536,0.267807,...,1.105018,3.881621,0.714883,6.767037,37.012645,604.697382,9135.074235,1.511839,0.393220,458.081834

In [38]:
data_import.isna().sum()

ID                          0
Date_start_contract         0
Date_last_renewal           0
Date_next_renewal           0
Date_birth                  0
Date_driving_licence        0
Distribution_channel        0
Seniority                   0
Policies_in_force           0
Max_policies                0
Max_products                0
Lapse                       0
Date_lapse              70408
Payment                     0
Premium                     0
Cost_claims_year            0
N_claims_year               0
N_claims_history            0
R_Claims_history            0
Type_risk                   0
Area                        0
Second_driver               0
Year_matriculation          0
Power                       0
Cylinder_capacity           0
Value_vehicle               0
N_doors                     0
Type_fuel                1764
Length                  10329
Weight                      0
dtype: int64

In [43]:
#drop the rows missing Type_fuel as it was less than 2% of the rows
data_import_drop_fuel = data_import.dropna(subset = ['Type_fuel'])

In [45]:
data_import_drop_fuel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103791 entries, 0 to 105554
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    103791 non-null  int64
 1   Date_start_contract   103791 non-null  datetime64[ns]
 2   Date_last_renewal     103791 non-null  datetime64[ns]
 3   Date_next_renewal     103791 non-null  datetime64[ns]
 4   Date_birth            103791 non-null  datetime64[ns]
 5   Date_driving_licence  103791 non-null  datetime64[ns]
 6   Distribution_channel  103791 non-null  category
 7   Seniority             103791 non-null  int64
 8   Policies_in_force     103791 non-null  int64
 9   Max_policies          103791 non-null  int64
 10  Max_products          103791 non-null  int64
 11  Lapse                 103791 non-null  int64
 12  Date_lapse            34707 non-null   datetime64[ns]
 13  Payment               103791 non-null  category
 14  Premium               103791 non-null  float64
 15  Cost_claims_year      103791 non-null  float64
 16  N_claims_year         103791 non-null  int64
 17  N_claims_history      103791 non-null  int64
 18  R_Claims_history      103791 non-null  float64
 19  Type_risk             103791 non-null  category
 20  Area                  103791 non-null  category
 21  Second_driver         103791 non-null  category
 22  Year_matriculation    103791 non-null  int64
 23  Power                 103791 non-null  int64
 24  Cylinder_capacity     103791 non-null  int64
 25  Value_vehicle         103791 non-null  float64
 26  N_doors               103791 non-null  int64
 27  Type_fuel             103791 non-null  category
 28  Length                95226 non-null   float64
 29  Weight                103791 non-null  int64
dtypes: category(6), datetime64[ns](6), float64(5), int64(13)
memory usage: 20.4 MB

Check to see if there is a one to one relationship between lapse and date_lapse

In [ ]:
potential to